###################################################################################
# ⚠️ This file is controlled by OpenTofu in the estate-repos repository.
#    Manual changes will be overwritten the next time OpenTofu runs.
#    Last updated: 2025-03-16T22:00:16Z
###################################################################################

name: todo-to-issue

on:
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  call-todo-to-issue:
    uses: evoteum/estate-reusable-workflows/.github/workflows/todo-to-issue.yml@main
    secrets: inherit
